# --- Fichiers temporaires Python ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Environnements virtuels (si vous en utilisez) ---
venv/
env/
.env

# --- Fichiers de données et exports ---
# On ignore les fichiers Excel que vous téléchargez pour ne pas polluer GitHub
*.xlsx
*.csv

# --- IDE et Editeurs ---
.vscode/
.idea/
*.swp

# --- Système ---
.DS_Store
Thumbs.db