# --- Dossier Environnement Virtuel ---
# On bloque bien les 11 000 fichiers ici
.venv/
venv/
env/
.env

# --- Fichiers temporaires Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Fichiers de données et exports ---
*.xlsx
*.csv
# IMPORTANT : J'ai supprimé *.pkl ici pour que votre modèle IA soit envoyé sur GitHub

# --- IDE et Système ---
.vscode/
.DS_Store
Thumbs.db